/* Apply monospaced font across the entire website */
body {
    font-family: "Sour Gummy", sans-serif !important;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #334353;
    color: white;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
    font-family: "Sour Gummy", sans-serif;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50px;
    border: 4px solid #75879a;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 3rem 0;
}

.token-info {
    background-color: #ffffff96;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.contract-address {
    word-wrap: break-word;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Accessibility Enhancements */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.hero-links {
    margin: auto;
    max-width: 48rem;
    padding-top: 12rem;
    display: flex;
    align-items: center
}

.hero-links div a {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    padding: 0px
}

@media (min-width: 320px) {
    .hero-links div a {
        width:64px;
        height: 64px;
        padding: 8px
    }
}

.hero-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto !important;
    max-width: 512px;
}

.hero-links div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.row.video-player {
    justify-content: center;
}

.underline {
    text-decoration: underline;
}

#about {
    background-color: #1d6182;
    color: #f0efe4;
}

body {
    font-size: 18px !important;
}

.btn-oregon {
    font-size: 18px !important;
    padding: 8px !important;
    background-color: #285938 !important;
    color: #d6e9b7 !important;
    border-radius: 12px !important;
}

.btn-oregon:hover {
    color: #ffffff !important;
}

.btn-polar {
    font-size: 18px !important;
    padding: 8px !important;
    background-color: #e7faff !important;
    color: hsl(202, 73%, 48%) !important;
    border-radius: 12px !important;
}

.btn-polar:hover {
    background-color: #d7eff6 !important;
    color: hsl(202, 73%, 41%) !important;
}

.btn-tg {
    font-size: 18px !important;
    padding: 12px !important;
    color: #e7faff !important;
    background-color: hsl(202, 73%, 48%) !important;
    border-radius: 12px !important;
}

.btn-tg:hover {
    color: #d7eff6 !important;
    background-color: hsl(202, 73%, 41%) !important;
}

.btn-tg svg {
    margin-bottom:4px;
}